<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CouchMover</title>
  <link rel="stylesheet" href="https://rubaxa.github.io/Sortable/st/app.css">
  <script src="https://rubaxa.github.io/Sortable/Sortable.js"></script>
  <script src="js/couchmover.js"></script>
</head>
<body>
  <ul id="items">
    <% data.forEach(function(item, idx) { %>
      <li><%= item %></li>
    <% }) %>
  </ul>
  <button id="submit">Submit</button>
</body>
</html>